/* Write your CSS here */
.li-container-list {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}

.type-columns {
  color: #1e293b;
  font-size: 14px;
  margin-right: 40px;
}
.delete-img {
  height: 15px;
  width: 15px;
}
.delete-button {
  background-color: transparent;
  border-width: 0px;
}
